*{
	background-clip: content-box;
}
h1{
	padding: 5px;
}
hr{
	width: 50%;
}

.columnContainer{
	padding: 5px;
	background-color: #cecece;
}
.columnTitle{
	margin-top:5px;
}
.columnContent{
	padding: 5px;
}
